body{
    background-color: #4ECCA3;
    color: #DA0463 ;
    font-size: 30px;
}

.heading h1{
    display: block;
    font-size: 5rem;
    align-content: center;
    margin: 0;
    padding: 20px;
}

.intro p{
    display: grid;
    align-items: center;
    margin: 20px 0;
    font-size: 3rem;
    padding: 0 20px;
}

.list ul{
    display: grid;
    font-size: 2rem;
    font-weight: lighter;
    margin: 60px 5px;
}

li.hidden{
    display: none;
}

button{
    height: 60px;
    width: 300px;
    background-color: blue;
    color: red;
    margin:0 20px;
    font-size: 50px;
}

.userInput{
    display: block;
    height: 100px;
    width: 100px;
    margin: 10px;
    font-size: 60px;
    align-items: center;
    justify-content: center;
    border: #393E46;
    background-color: yellow;
}