<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insight Portfolio</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>

<div class="heading">
  <h1>Insight Portfolio</h1>
</div>

<div class="card-container">
    <div class="card">
        <div class="card-icon">
            <span class="material-icons">attach_money</span>
        </div>
        <div class="card-content">
            <p class="card-title">Total profit</p>
            <p class="card-value">31.9 %</p>
        </div>
    </div>

    <div class="card">
        <div class="card-icon">
            <span class="material-icons">currency_exchange</span>
        </div>
        <div class="card-content">
            <p class="card-title">Daily</p>
            <p class="card-value">0.2 %</p>
        </div>
    </div>

    <div class="card">
        <div class="card-icon">
            <span class="material-icons">assignment_return</span>
        </div>
        <div class="card-content">
            <p class="card-title">IRR</p>
            <div class="card-text">
                <span class="material-icons">arrow_drop_up</span>
                <p class="card-value">10.69 %</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-icon">
            <span class="material-icons">savings</span>
        </div>
        <div class="card-content">
            <p class="card-title">Accrued income</p>
            <p class="card-value">3.22 %</p>
       </div>
    </div>
</div>

</body>
</html>