<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jQuery</title>
    <link rel="stylesheet" href="static/CSS/jq.css">
</head>
<body>

<div class="heading">
    <h1>Welcome to BRKs Site</h1>
</div>

<div class="intro">
    <p>For those who want to learn to programme properly</p>
    <p>Programing is not coding, programming is solutioning a problem using software and infra to run software on.</p>
</div>

<div class="list">
    <ul>
        <li>Python</li>
        <li>Java</li>
        <li>HTML, CSS, JS and other frameworks</li>
        <li>Database and SQL</li>
        <li>ETL tools like airflow, MQs, Kafka etc.</li>
    </ul>
</div>
<button>hide</button>
<p>Below box would show the keypress.</p>
<div class="userInput"></div>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
<script src="static/JS/jq.js"></script>
</body>
</html>